html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
body {
    background: linear-gradient(135deg, #6ec1e4 0%, #f9d5e5 100%);
    font-family: 'Comic Sans MS', cursive;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-size: 70px;
    color: #004d99;
    text-shadow: 2px 2px #a3c1e0;
    margin-bottom: 40px;
    animation: bounce 2s infinite;
}

.button {
    width: 250px;
    height: 70px; 
    display: block;
    margin: 20px auto;
    padding: 0; 
    font-size: 28px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background: linear-gradient(45deg, #007acc, #005f99);
    box-shadow: 0 6px 10px rgba(0, 122, 204, 0.7);
    transition: transform 0.2s, box-shadow 0.2s;
    line-height: 70px;
    text-align: center;
  }
  

.button:hover {
    animation: pulse 1s infinite;
    transform: scale(1.1);
    box-shadow: 0 8px 15px rgba(0, 122, 204, 1);
}





@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 6px 10px rgba(0, 122, 204, 0.7);
    }
    50% {
        box-shadow: 0 10px 20px rgba(0, 122, 204, 1);
    }
    100% {
        box-shadow: 0 6px 10px rgba(0, 122, 204, 0.7);
    }
}